&uart1 {
     status = "okay";
     pinctrl-0 = <&uart1_default>;
     pinctrl-1 = <&uart1_sleep>;
     pinctrl-names = "default", "sleep";
     current-speed = <115200>;
};

&uart0 {
     current-speed = <115200>;
};